version: "3"

services:
  mysql:
    image: "mysql:5.7"
    environment:
      MYSQL_DATABASE: "scan_no_nazo"
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_USER: "root"
    volumes:
      - "./fixture/mysql/init:/docker-entrypoint-initdb.d"

  hello:
    image: "golang:latest"
    tty: true
    working_dir: /workspace
    volumes:
      - ./hello:/workspace
    environment:
      TZ: "Asia/Tokyo"
    depends_on:
      - mysql

  hello2:
    image: "golang:latest"
    tty: true
    working_dir: /workspace
    volumes:
      - ./hello2:/workspace
    environment:
      TZ: "Asia/Tokyo"
    depends_on:
      - mysql
